#return-button {
  display: inline-block;
  background-color: #dbb648;
  width: 75px;
  height: 75px;
  text-align: center;
  border-radius: 50%;
  margin: 30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000; 
}
#return-button:hover {
  cursor: pointer;
  background-color: #333;
}

#return-button:active {
  background-color: #555;
}

#return-button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 65px;
  color: #fff;
}

#return-button.show {
  opacity: 1;
  visibility: visible;
}