header {
  height: 400px;
  width: 100%;
  background-color: #dbb648;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header span {
  font-weight: 100;
}