@import 'variables';

#profile-header {
  height: 400px;
  background-color: $orange-color;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: $nav-bar-height;

  span {
    font-weight: 100;
  }
}