nav {
  height: 120px;
  width: 100vmax;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

#write-a-new-tweet {
  display: inline;
  color: #FFFFFF;
  text-decoration: none;
}