:root {
  --width: 15px;
}

h4 {
  margin: 0 0 2rem 0;
  padding: 1rem;
  color: red;
  border: 2px red solid;
}

main .new-tweet {
  display: flex;
  justify-content: center;
  width: 75%;
  flex-direction: column;
  margin-bottom: 2rem;
}

main h2 {
  display: flex;
  margin: 1rem 0 1rem 0;
}

main .hidden {
  display: none;
}


main form {
  display: flex;
  flex-direction: column;
}

main textarea {
  background-color: #f4f1ec;
  border-width: 0;
  border-bottom-width: 8px;
  margin-bottom: var(--width);
}

main ::-webkit-input-placeholder {
  font-weight: bold;
}

main .user-feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

main button {
  background-color: #4056A1;
  color: white;
}

.red-font {
  color: red;
}