@import 'variables';

.new-tweet {
  display: flex;
  justify-content: center;
  width: 75%;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 1.5rem;

  #new-tweet-description {
    margin: 1rem 0 0.5rem 0;
  }

  #error-messages {
    margin: 0 0 2rem 0;
    padding: 1rem;
    color: red;
    border: 2px red solid;
  }
  
  #tweet-form {
    flex-direction: column;
  }

  #tweet-text {
    background-color: $grey-background-color;
    border-width: 0;
    border-bottom-width: 8px;
    margin-bottom: 15px;
    width: 100%;
  }

  .user-feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Bungee', sans-serif;
  }
  
  #tweet-button {
    background-color: $blue-color;
    color: white;
  }
  
  #counter.red-font {
    color: red;
  }
}

main .hidden {
  display: none;
}

